<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="./Packages.Local" />
    </config>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <!-- `clear` ensures no additional sources are inherited from another config file. -->
        <clear />
        <!-- `key` can be any identifier for your source. -->
        <add key="Packages.Local" value="./Packages.Local" />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="Telerik_NuGet" value="https://nuget.telerik.com/v3/index.json" />
    </packageSources>
    <!-- https://learn.microsoft.com/en-us/nuget/consume-packages/package-source-mapping -->
    <!-- Telerik.* packages will be restored from Telerik, everything else from nuget. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="Telerik_NuGet">
            <package pattern="Telerik.*" />
        </packageSource>
        <packageSource key="nuget">
            <package pattern="Telerik.FontIcons" />
            <package pattern="Telerik.SvgIcons" />
            <package pattern="*" />
        </packageSource>
        <packageSource key="Packages.Local">
            <package pattern="FusionBlazor.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
